/**
 * @file
 * Subtheme specific CSS.
 
 .row{
    margin : 0%;
    width: 200px;
    background-color: antiquewhite;
 }*/
 .navbar-expand-lg .navbar-nav .nav-link{
     color: white;
 }
 .btn-primary {
     width: 200px;
 }
 .site-footer .block {
     border: none;
 }
 .site-footer .block {
     width: 100%;
 }
 .site-footer  .row {
    margin-right: 0;
    margin-left: 0;
 }
 
 .view-grid-page-d-acceuil{
    margin: 50px 0 50px 0;
 }
.block-views-blockcarousel-block-1{
    margin: 20px 0 0 0;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#views-bootstrap-formation-block-1 {
    width: 100%;
    
}
#views-bootstrap-formation-block-1 .class-header{
  
    background-color: #032e5a;
}
#views-bootstrap-formation-block-1 .card .btn-link{
    color: white;
}
.sidebar_second, .sidebar h2{
    color: white;
    text-shadow: none;
}
